@model List<FileData>
@{
    ViewData["Title"] = "ShowAllBlobs";
}

<h1>ShowAllBlobs</h1>
<table class="table table-bordered">
    <thead>
    <tr>
        <th>File Name</th>
        <th>File Size</th>
        <th>Modified Date</th>
        <th>Image</th>
        <th>Download</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var data in Model)
    {
        <tr>
            <td>@data.FileName</td>
            <td>@data.FileSize Kb</td>
            <td>@data.ModifiedOn</td>
            <td><img src="@data.Uri" width="100" height="100"></td>
            <td><a href="/Demo/Download?blobName=@data.FileName">Download</a></td>
            <td><a href="/Demo/Delete?blobName=@data.FileName">Delete</a></td>
        </tr>
    }
    </tbody>
</table>